@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="root"></div>
    </div>


</div>

@section scripts
{
    <environment names="Development">
        <script src="~/dist/home.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/home.js" asp-append-version="true"></script>
    </environment>
}
