.shopping-basket {
	position: sticky;
	top: 4.5rem;
	padding: 1rem;
	margin-bottom: 1rem;

	&__title {
		font-style: italic;
		font-size: 1.1rem;
	}

	&__payment {
		margin-bottom: 1.2rem;
	}

	&__dishes {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}

	&__order-button-icon {
		fill: #fff;
		margin-left: 1rem;
	}
}

.check {
	align-items: stretch;
	display: flex;
	justify-content: space-between;

	&__title {
		font-style: italic;
	}

	&__total {
		text-align: right;
	}

	&__total-value {
		font-weight: bold;
		font-size: 1.2rem;
	}
}

.overpayment {
	color: #d77158;

	&__title {
		font-size: 0.7em;
		margin-right: 0.7em;
	}

	&__money-unit {
		color: #d77158;
	}
}

.money-unit {
	font-size: 0.7em;
	font-style: italic;
	margin-left: 0.4em;
}